$colorPrimario: #f9a03f;

body {
  background-color: black;
}

.articulo {
  background: #f2f2f2;
  padding: 20px;
  width: 200px;
  .titulo {
    color: $colorPrimario;
  }
  .autor {
    color: brown;
  }

  div {
    text-align: center;
    a {
      text-decoration: none;
      font-size: 25px;
      color: $colorPrimario;
      &:hover {
        text-decoration: underline;
      }
      &::before {
      }
    }
  }

  p {
    a {
      text-decoration: none;
    }
  }
}
